<p>

{{#if device}}
  Device:<br>
  platform<br>
  {{device.platform}}
  <br>
  cordova<br>
  {{device.cordova}}
  <br>
  <br>
{{/if}}

Navigator:<br>
appCodeName<br>
{{navigator.appCodeName}}
<br>
appName<br>
{{navigator.appName}}
<br>
<br>

appVersion<br>
{{navigator.appVersion}}
<br>
<br>

userAgent<br>
{{navigator.userAgent}}
<br>
<br>

{{#if message}}
  Error, message:<br>
  {{message}}
{{/if}}

</p>
